<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Admin</h1>
  <h2>Users</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <div class="table-header-div">
            <span class="glyphicon glyphicon-chevron-down"></span>
            Username
          </div>
        </th>
        <th>
          <div class="table-header-div">
            <span class="glyphicon glyphicon-chevron-down"></span>
            Password
          </div>
        </th>
         <th>
          <div class="table-header-div">
            <span class="glyphicon glyphicon-chevron-down"></span>
            First name
          </div>
        </th>
         <th>
          <div class="table-header-div">
            <span class="glyphicon glyphicon-chevron-down"></span>
            Lastname
          </div>
        </th>
        <th>
          <div class="table-header-div">
            <span class="glyphicon glyphicon-chevron-down"></span>
            Role
          </div>
        </th>
        <th>
          <div class="table-header-div">
            <span class="glyphicon glyphicon-chevron-down"></span>
            Action
          </div>
        </th>
      </tr>
      <tr>
        <th><input type="text"></th>
        <th><input type="text"></th>
        <th><input type="text"></th>
        <th><input type="text"></th>
        <th><input type="text"></th>
        <th><input type="text"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><input type="text" placeholder="username"></th>
        <th><input type="text" placeholder="password"></th>
        <th><input type="text" placeholder="role1, role2"></th>
        <th><div class="icon-div-2">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="glyphicon glyphicon-ok"></span>
        </div></th>
      </tr>
      <tr>
        <th>alice</th>
        <th>
        <th>student</th>
        <th><div class="icon-div-2">
          <span class="glyphicon glyphicon-remove"></span>
          <span class="glyphicon glyphicon-pencil"></span>
        </div></th>
      </tr>
      <tr>
        <th>bob</th>
        <th>
        <th>faculty | admin</th>
        <th><div class="icon-div-2">
          <span class="glyphicon glyphicon-remove"></span>
          <span class="glyphicon glyphicon-pencil"></span>
        </div></th>
      </tr>
      <tr>
        <th>charlie</th>
        <th>
        <th>
        <th><div class="icon-div-2">
          <span class="glyphicon glyphicon-remove"></span>
          <span class="glyphicon glyphicon-pencil"></span>
        </div></th>
      </tr>
    </tbody>
  </table>
</div>

