<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Forms : Registration Form</h1>
  <ul class="nav nav-tabs">
    <li role="presentation"><a [routerLink]="['/Forms']">Forms</a></li>
    <li role="presentation" class="active"><a [routerLink]="['/Fields', { formId: null }]">Fields</a></li>
  </ul>
  <form class="form-horizontal">
    <div class="form-group" *ngFor="#field of fields">
      <label attr.for={{field.id}} class="col-sm-2 control-label">{{field.label}}</label>
      <div class="col-sm-6" id={{field.id}} [ngSwitch]="field.type">
        <input *ngSwitchWhen="'TEXT'" type="text" class="form-control" placeholder={{field.placeholder}}>
        
        <input *ngSwitchWhen="'TEXTAREA'" type="textarea" class="form-control" placeholder={{field.placeholder}}>
        
        <input *ngSwitchWhen="'DATE'" type="date" class="form-control">
        
        <select *ngSwitchWhen="'DROPDOWN'" class="form-control">
          <option *ngFor="#opt of field.options" value={{opt.value}}>{{opt.label}}</option>
        </select>
        
        <div *ngSwitchWhen="'CHECKBOXES'">
          <div *ngFor="#opt of field.options">
            <input type="checkbox" id={{opt.value}} value={{opt.value}}>
            <label attr.for={{opt.value}} class="control-label">{{opt.label}}</label>
          </div>
        </div>
        
        <div *ngSwitchWhen="'RADIOS'">
          <div *ngFor="#opt of field.options">
            <input type="checkbox" id={{opt.value}} value={{opt.value}} name={{field.id}}-radio>
            <label attr.for={{opt.value}}>{{opt.label}}</label>
          </div>
        </div>
      </div>
      <div class="col-sm-4 icon-div-4">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-remove" (click)="removeField(field._id)"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
    </div>

    <div class="form-group add-new-field-div">
      <label for="add-new-field" class="col-sm-2 control-label">Add New Field:</label>
      <div class="col-sm-6">
        <select class="form-control" id="add-new-field" [(ngModel)]="newFieldType">
          <option class="active">Choose Field Type</option>
          <option value="TEXT">Single Line Text</option>
          <option value="DATE">Date</option>
          <option value="DROPDOWN">Dropdown</option>
          <option value="CHECKBOXES">Checkboxes</option>
          <option value="RADIOS">Radio Buttons</option>
          <option value="TEXTAREA">Paragraph Text Field</option>
        </select>
      </div>
      <div class="col-sm-4 icon-div-4">
        <span class="glyphicon left-spacer"></span>
        <span class="glyphicon glyphicon-plus" (click)="addNewField()"></span>
      </div>
    </div>
  </form>
</div>
