<div *ngIf='!fetchingUser' class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
  <div class="profile-header">
    <div class="col-sm-4 col-md-3">
      <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="col-sm-6 col-md-5">
      <h1>{{user.username}}</h1>
    </div>
    <div class="col-sm-2 col-md-4"></div>
  </div>
  <div>
    <h3>Libraries</h3>
    <div class="new-library" *ngIf='hasEditRights()'>
      <input type="text" [(ngModel)]="newLibraryName" placeholder="Library name">
      <button class="btn btn-default" (click)='newLibrary()'>+</button>
    </div>
    <div class="library-carousel">
      <div *ngFor="#library of user.libraries" class="user-library">
        <span *ngIf="hasEditRights()" class="glyphicon glyphicon-remove thumbnail-remove" (click)="removeLibrary(library.id)"></span>
        <a class="thumbnail" [routerLink]="['/Library', { library: library.id }]">{{library.name}}</a>
      </div>
    </div>
  </div>
</div>