.clickable {
	cursor: pointer;
}

.movie-title {
	margin-left: 15px;
}
.movie-image {
	min-width: 100%
	max-width: 100%;
}
.actors-container > label {
	vertical-align: top;
}
.ratings-container > label {
	vertical-align: top;
}
.ratings {
	display: block;
}
.ratings-inline {
	display: inline-block;
}
.rating-rt {
	display: block;
}
#navbar > ul {
	padding-right: 15px;
}
.navbar > .container-fluid {
	padding: 0px;
}
.movie-li > label {
	cursor: pointer;
}
.library-movie {
	display: inline-block;
	vertical-align:top;
	padding:10px;
	position: relative;
	text-align: center;
	height: 100%;
}
.thumbnail-remove {
	display:none;
	position: absolute;
	top:0px;
	right:0px;
}
.library-name-container {
	display: inline-block;
}
.profile-header {
	display: inline-block;
}

.library-movie:hover {
	border: 1px solid black;
	cursor: pointer;
}
.library-movie:hover .thumbnail-remove {
	display: initial;
}
    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 767px) {
.row > .col-xs-6:nth-child(2n+1) {
    clear: both;
}
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 991px) and (min-width : 768px) {
.row > .col-sm-4:nth-child(3n+1) {
    clear: both;
}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 1199px) and (min-width : 992px) {
.row > .col-md-3:nth-child(4n+1) {
    clear: both;
}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
.row > .col-lg-2:nth-child(6n+1) {
    clear: both;
}
    }
.thumbnail-remove:hover {
	background-color: red;
}

@media (min-width: 768px) {
	.mobile-header {
		display: none !important;
	}
}

.movie-poster-container {
	padding: 7px;
}

.movie-image {
	margin-bottom: 2px;
	height: auto;
	width: 100%;
	padding: 4px;
}

.more-info {
	display:block;
}

.clear-rating {
	display: inline-block;
}

.user-img {
	width: 100%;
}

.movie-poster-container-library {
 	margin:12px;
 }

 @media (max-width: 480px) {
 	.xxs {
 		width: 100%;
 		float: left;
 		position: relative;
 		min-height: 1px;
 		padding-right: 15px;
 		padding-left: 15px;
 	}
 }

 .no-bot-margin {
 	margin-bottom: 4px;
 }

.results-row {
	text-align: center;
}

.h4-margins {
	margin-top: 20px;
	margin-bottom:20px;
}

.search-results {
	margin-top: 50px;
}

.search-icon {
	top: 0px;
}

.comments {
	margin-bottom: 20px;
	margin-top: 20px;
}