<div *ngIf='!fetchingLibrary' class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
  <div>
    <div *ngIf="!isEditingLibraryName" class="library-name-container">
      <h1 *ngIf="hasEditRights()" (click)="editLibraryName()" class="clickable">{{library.name}}</h1>
      <h1 *ngIf="!hasEditRights()">{{library.name}}</h1>
    </div>
    <div *ngIf="isEditingLibraryName">
      <input type="text" [(ngModel)]="library.name">
      <span class="glyphicon glyphicon-check" (click)="saveNewLibraryName()"></span>
      <button class="btn btn-default" (click)="cancelEditingLibraryName()">Cancel</button>
    </div>
    <a [routerLink]='["/User", { user: library.user._id }]'>{{library.user.username}}</a>
  </div>
  <div class="library-contents row">
  <span class="no-results" *ngIf="library.movies.length ===0">No movies found</span>
    <div *ngFor="#movie of library.movies" class="library-movie col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <button *ngIf="hasEditRights()" class="btn btn-xs glyphicon glyphicon-remove thumbnail-remove" (click)="removeMovie(movie._id)"></button>
        <div class="movie-poster-container-library">
          <img src={{movie.image}} class="movie-image"[routerLink]="['/Movie', { movie: movie.imdbId }]">
        </div>
        <div class="movie-title-year">
          <span>{{movie.title}} ({{movie.year}})</span>
        </div>
    </div>
  </div>

  <div class="ratings-container">
    <label *ngIf="userService.getActiveUser()" for="my-rating">My Rating:</label>
    <div *ngIf="userService.getActiveUser()" class="my-rating" (mouseleave)="clearPreview()" (mouseenter)="storeRating()">
      <span class="glyphicon clickable {{ myRating < 1 ? 'glyphicon-star-empty': 'glyphicon-star' }}"
        (mouseenter)="ratePreview(1)" (click)="rate(1)"></span>
      <span class="glyphicon clickable {{ myRating < 2 ? 'glyphicon-star-empty': 'glyphicon-star' }}"
        (mouseenter)="ratePreview(2)" (click)="rate(2)"></span>
      <span class="glyphicon clickable {{ myRating < 3 ? 'glyphicon-star-empty': 'glyphicon-star' }}"
        (mouseenter)="ratePreview(3)" (click)="rate(3)"></span>
      <span class="glyphicon clickable {{ myRating < 4 ? 'glyphicon-star-empty': 'glyphicon-star' }}"
        (mouseenter)="ratePreview(4)" (click)="rate(4)"></span>
      <span class="glyphicon clickable {{ myRating < 5 ? 'glyphicon-star-empty': 'glyphicon-star' }}"
        (mouseenter)="ratePreview(5)" (click)="rate(5)"></span>
      <button *ngIf="userService.getActiveUser()" class="btn btn-default btn-sm clear-rating" (click)="unrate()">
        Clear
      </button>
    </div>

    <label for="ratings-inline">Average Rating:</label>
      <div class="ratings-inline">
        <span class="glyphicon {{ avgRating < 1 ? 'glyphicon-star-empty': 'glyphicon-star' }}"></span>
        <span class="glyphicon {{ avgRating < 2 ? 'glyphicon-star-empty': 'glyphicon-star' }}"></span>
        <span class="glyphicon {{ avgRating < 3 ? 'glyphicon-star-empty': 'glyphicon-star' }}"></span>
        <span class="glyphicon {{ avgRating < 4 ? 'glyphicon-star-empty': 'glyphicon-star' }}"></span>
        <span class="glyphicon {{ avgRating < 5 ? 'glyphicon-star-empty': 'glyphicon-star' }}"></span>
    </div>
  </div>

  <h3>COMMENTS</h3>
  <span class="no-results" *ngIf="library.comments.length ===0">No comments found</span>
  <table>
    <tr *ngFor="#comment of library.comments">
      <td><a [routerLink]='["/User", { user: comment.userId }]'>{{comment.username}}</a></td>
      <td>
        <div *ngIf="isEditingComment(comment._id)">
          <input type="text" [(ngModel)]="editCommentText">
          <span class="glyphicon glyphicon-check" (click)="saveEditComment()"></span>
          <button class="btn btn-default" (click)="cancelEditComment()">Cancel</button>
        </div>
        <div *ngIf="!isEditingComment(comment._id)" (click)="editComment(comment)">
          {{comment.comment}}
        </div>
      </td>
    </tr>
  </table>
  <div *ngIf="userService.getActiveUser()">
    <input type="text" class="comment-input" [(ngModel)]="newComment">
    <button class="btn" (click)="addComment()">COMMENT!</button>
  </div>
</div>