<div *ngIf='!fetchingLibrary' class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
  <div>
    <div *ngIf="!isEditingLibraryName" class="library-name-container">
      <h1 *ngIf="hasEditRights()" (click)="editLibraryName()" class="clickable">{{library.name}}</h1>
      <h1 *ngIf="!hasEditRights()">{{library.name}}</h1>
    </div>
    <div *ngIf="isEditingLibraryName">
      <input type="text" [(ngModel)]="library.name" (keyup.enter)="saveNewLibraryName()">
      <span class="glyphicon glyphicon-check" (click)="saveNewLibraryName()"></span>
      <button class="btn btn-default" (click)="cancelEditingLibraryName()">Cancel</button>
    </div>
    <a [routerLink]='["/User", { user: library.user._id }]'>{{library.user.username}}</a>
  </div>

  <div class="ratings-container">
    <div class="my-rating-wrapper" *ngIf="userService.getActiveUser()">
      <label for="my-rating">My Rating:</label>
      <div class="my-rating ratings-inline" (mouseleave)="clearPreview()" (mouseenter)="storeRating()">
        <span class="glyphicon clickable {{ myRating < 1 ? 'glyphicon-star-empty': 'glyphicon-star' }}"
          (mouseenter)="ratePreview(1)" (click)="rate(1)"></span>
        <span class="glyphicon clickable {{ myRating < 2 ? 'glyphicon-star-empty': 'glyphicon-star' }}"
          (mouseenter)="ratePreview(2)" (click)="rate(2)"></span>
        <span class="glyphicon clickable {{ myRating < 3 ? 'glyphicon-star-empty': 'glyphicon-star' }}"
          (mouseenter)="ratePreview(3)" (click)="rate(3)"></span>
        <span class="glyphicon clickable {{ myRating < 4 ? 'glyphicon-star-empty': 'glyphicon-star' }}"
          (mouseenter)="ratePreview(4)" (click)="rate(4)"></span>
        <span class="glyphicon clickable {{ myRating < 5 ? 'glyphicon-star-empty': 'glyphicon-star' }}"
          (mouseenter)="ratePreview(5)" (click)="rate(5)"></span>
        <span *ngIf="myRating !== 0 && myRatingBackup !== 0" class="clear-rating clickable glyphicon glyphicon-remove" (click)="unrate()"></span>
      </div>
    </div>
    <div class="ratings-avg">
    <label for="ratings-inline">Average Rating:</label>
      <div class="ratings-inline">
        <span class="glyphicon {{ avgRating < 1 ? 'glyphicon-star-empty': 'glyphicon-star' }}"></span>
        <span class="glyphicon {{ avgRating < 2 ? 'glyphicon-star-empty': 'glyphicon-star' }}"></span>
        <span class="glyphicon {{ avgRating < 3 ? 'glyphicon-star-empty': 'glyphicon-star' }}"></span>
        <span class="glyphicon {{ avgRating < 4 ? 'glyphicon-star-empty': 'glyphicon-star' }}"></span>
        <span class="glyphicon {{ avgRating < 5 ? 'glyphicon-star-empty': 'glyphicon-star' }}"></span>
      </div>
    </div>
  </div>
  <div class="library-contents row results-row">
  <span class="no-results" *ngIf="library.movies.length ===0">No movies found</span>
    <div *ngFor="#movie of library.movies" class="library-movie col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <button *ngIf="hasEditRights()" class="btn btn-xs glyphicon glyphicon-remove thumbnail-remove" (click)="removeMovie(movie._id)"></button>
        <div class="movie-poster-container-library">
          <img src={{movie.image}} class="movie-image"[routerLink]="['/Movie', { movie: movie.imdbId }]">
        </div>
        <div class="movie-title-year">
          <span>{{movie.title}} ({{movie.year}})</span>
        </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comments">
    <h3 class="h4-margins">Comments</h3>
    <div class="results-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <span class="no-results" *ngIf="library.comments.length ===0">No comments</span>
      <table>
        <tr *ngFor="#comment of library.comments">
          <td><a [routerLink]='["/User", { user: comment.userId }]'>{{comment.username}}</a></td>
          <td>
            <div *ngIf="isEditingComment(comment._id)">
              <input type="text" [(ngModel)]="editCommentText">
              <span class="glyphicon glyphicon-check" (click)="saveEditComment()"></span>
              <button class="btn btn-default" (click)="cancelEditComment()">Cancel</button>
            </div>
            <div *ngIf="!isEditingComment(comment._id)" (click)="editComment(comment)">
              {{comment.comment}}
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="userService.getActiveUser()">
      <input type="text" class="comment-input" [(ngModel)]="newComment" (keyup.enter)="addComment()">
      <button class="btn" (click)="addComment()">Comment!</button>
    </div>
  </div>
</div>