<div *ngIf='!fetchingLibrary' class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
  <div>
    <div *ngIf="!isEditingLibraryName" class="library-name-container">
      <h1 *ngIf="hasEditRights()" (click)="editLibraryName()" class="clickable">{{library.name}}</h1>
      <h1 *ngIf="!hasEditRights()">{{library.name}}</h1>
    </div>
    <div *ngIf="isEditingLibraryName">
      <input type="text" [(ngModel)]="library.name">
      <span class="glyphicon glyphicon-check" (click)="saveNewLibraryName()"></span>
      <button class="btn btn-default" (click)="cancelEditingLibraryName()">Cancel</button>
    </div>
    <a [routerLink]='["/User", { user: library.user._id }]'>{{library.user.username}}</a>
  </div>
  <div class="movie-carousel">
    <div *ngFor="#movie of library.movies" class="library-movie">
        <span *ngIf="hasEditRights()" class="glyphicon glyphicon-remove thumbnail-remove" (click)="removeMovie(movie.imdbId)"></span>
        <a class="thumbnail" [routerLink]="['/Movie', { movie: movie.imdbId }]">{{movie.title}}</a>
    </div>
  </div>

  <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
  <div class="ratings-container">
    <label for="ratings">Average Rating:</label>
      <div class="ratings">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </div>
  </div>

  <h3>COMMENTS</h3>
  <table>COMMENT TABLE</table>
  <input type="text" class="comment-input">
  <button class="btn">COMMENT!</button>
</div>