<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li [class.active]="isUsersRouteActive()">
          <a [routerLink]='["/Users"]'>Users</a>
        </li>
        <li [class.active]="isLibrariesRouteActive()">
          <a [routerLink]='["/Libraries"]'>Libraries</a>
        </li>
        <li [class.active]="isMoviesRouteActive()">
          <a [routerLink]='["/Movies"]'>Movies</a>
        </li>
      </ul>
    </div>
  </div>
</div>