<div *ngIf='!fetchingMovie' class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
  <h1 class="movie-title">{{movie.title}}</h1>
  <div class="col-sm-4 col-md-5">
    <img *ngIf="movie.image !== 'N/A'" class="movie-image" src="">
    <div>
      <button class="btn btn-small" (click)="addMovie()">+</button>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
    </div>
  </div>
  <div class="col-sm-8 col-md-7">
    <div class="actors-container">
      <label for="actors">Actors:</label>
      <ul class="actors">
        <li *ngFor="#actor of movie.actors">{{actor}}</li>
      </ul>
    </div>
    <div>
      <label for="director">Directed By:</label>
      <span class="director">{{movie.directors}}</span>
    </div>
    <div>
      <label for="summary">Plot Summary:</label>
      <p class="summary">{{movie.plot}}</p>
    </div>
    <div>
      <label for="rating">Rated:</label>
      <span class="rating">{{movie.rating}}</span>
    </div>
    <div>
      <label for="released">Released on:</label>
      <span class="released">{{movie.releaseDate}}</span>
    </div>
    <div class="ratings-container">
      <label for="ratings">Average Rating:</label>
      <div class="ratings">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span *ngIf="movie.tomatoMeter !== 'N/A'" class="rating-rt">
          <a href={{movie.tomatoUrl}}>{{movie.tomatoMeter}}% on rotton tomatoes</a>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12" *ngIf="!fetchingLibraries">
    <h3>Libraries With This Title</h3>
    <div class="movie-in-libraries">
      <div *ngFor="#library of libraries" class="movie-in-library">
        <a class="thumbnail" [routerLink]="['/Library', { library: library.id }]">{{library.name}}</a>
      </div>
    </div>
  </div>
</div>