<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header col-sm-3 col-md-2">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]='["/Home"]'>Logo</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isActiveUser()" [class.active]="isRegisterRouteActive()">
          <a [routerLink]='["/Register"]'>Sign Up</a>
        </li>
        <li *ngIf="!isActiveUser()" [class.active]="isLoginRouteActive()">
          <a [routerLink]='["/Login"]'>Sign In</a>
        </li>
        <li *ngIf="isActiveUser()" [class.active]="isDetailsRouteActive()">
          <a [routerLink]='["/Details", { user: userService.getActiveUser()._id }]'>Edit Info</a>
        </li>
        <li *ngIf="isActiveUser()" [class.active]="isProfileRouteActive()">
          <a [routerLink]='["/User", { user: userService.getActiveUser()._id }]'>My Profile</a>
        </li>
        <li *ngIf="isActiveUser()"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>



